@use '../../assets/sass/mixins.scss';
@use '../../assets/sass/vars.scss';

.navbar {
  font-size: 1rem;

  & ul {
    display: flex;

    & li {
      position: relative;
      z-index: 1;
      //display
      @include mixins.flexbox(center,center);
      //boxmodel
      height: 3rem;
      margin: 1rem;
    }
    & a {
      margin: 2rem;
      text-decoration: none;
      text-transform: uppercase;
    }
  }

  &__box {
    border: 1px solid red;
    // background-color: red;
    border-radius: 4px;
    transition: all 0.5s ease-in-out;
  }
}
