@use './vars.scss';

//~ FLEXBOX
@mixin flexbox($justify, $align-items, $direction: true) {
  display: flex;

  @if $direction {
    flex-direction: $direction;
  }

  justify-content: $justify;
  align-items: $align-items;
}

//~ THEMIFY
@mixin themify($themes) {
  @each $name, $values in $themes {
    .theme--#{$name} {
      $data-map : $values !global;
      @content;
    }

    .shape--#{$name} {
      $data-map : $values !global;
      @content;
    }
  }
}

@function themed($key) {
  @return map-get($data-map, $key);
}

