//~ Fonts families
@font-face {
  font-family: 'Charmonman';
  src: local('Charmonman Regular'), local('Charmonman-Regular'),
    /*careful, the path is from css folder*/ url('../fonts/charmonman/Charmonman-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Maven Pro';
  src: local('Maven Pro'), /*careful, the path is from css folder*/ url('../fonts/mavenpro/MavenPro-VariableFont_wght.ttf') format('truetype');
}

$font-charmonman: 'Charmonman', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$font-mavenpro: 'Maven Pro', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

//~ Main palette
$dark-01: #1d1e1c;
$dark-02: #1c1b1c;
$dark-03: #272629;
$light-01: #fefcff;
$light-02: #fff;
$red-01: #d40035;

//~ Box shadows
$box-shadow-01: rgba(0, 0, 0, 0.2) 0px 0px 50px 8px;
$box-shadow-02: rgba(0, 0, 0, 0.3) 0px 0px 25px 5px;

//~ Drop shadow
$drop-shadow-01: drop-shadow(2px 3px 2px rgba(0, 0, 0, 0.3));

//& Theme Global
$themeSite: (
  light: (
    background: $light-01,
    title: $red-01,
    text: $dark-01,
    link: $dark-01,
    spinner: $dark-01,
  ),
  dark: (
    background: $dark-01,
    title: $red-01,
    text: $light-01,
    link: $light-01,
    spinner: $light-01,
  ),
);

//& Theme Buttons
$themeBtn: (
  light: (
    background: $dark-01,
    backgroundHover: $light-02,
    backgroundActive: $light-01,

    text: $dark-01,
    textHover: $dark-02,
    textActive: $dark-02,
  ),
  dark: (
    background: $light-01,
    backgroundHover: $dark-02,
    backgroundActive: $dark-01,

    text: $light-01,
    textHover: $light-02,
    textActive: $light-02,
  ),
);

//& Theme Buttons
$themeNavbar: (
  light: (),
  dark: (),
);

//& Shapes
$themeShapes: (
  cloud:(),
  potatoes:(),
);