@use './mixins.scss';
@use './vars.scss';
@use './themes.scss';
@use './reset.scss';

:root {
  scroll-behavior: smooth;
  min-height: 100vh;
  margin: 0;
  overflow-y: scroll;
  font-family: vars.$font-mavenpro;
}

h1 {
  text-align: center;
}
